.main-content {
    padding-top: 50px;
}

.tall {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.tallish {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-hidden, .btn-hidden:hover{
    background-color: lightgrey;
    color: grey;
}

.dotted {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.preview-panel {
    border-top: solid darkgray 1px;
    padding-top: 20px;
    margin-top: 40px;
}

.display-pane {
    padding: 20px 20px 20px 20px;
    width: 50%;
    float:right;
}

.display-img {
    max-width: 100%;
}

small {
    font-size: small;
}

.options {
    padding-left: 40px;
    padding-right: 50px;
}

.tight-horizontal {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.error {
    color: red;
}

.waiting {
    color:lightgrey;
}

.output-panel {
    padding-left: 40px;
}